<div class="pokemon-card">
    <img
      *ngIf="pokemon.sprites.other.home.front_default"
      src="{{ pokemon.sprites.other.home.front_default }}"
      alt="{{ pokemon.name | titlecase }}"
      class="pokemon-image"
    />
    <div class="pokemon-details">
      <h2>{{ pokemon.name | titlecase }}</h2>
      <p>Type: {{ pokemon.weight }}</p>
      <p>Height: {{ pokemon.height | number: '.2'}}</p>
      <p>Weight: {{ pokemon.weight }} kg</p>
      <p>Weight: {{ pokemon.weight }} kg</p>
      <p>Weight: {{ pokemon.weight }} kg</p>
      <p>Weight: {{ pokemon.weight }} kg</p>
      <p>Weight: {{ pokemon.weight }} kg</p>
      <p>Weight: {{ pokemon.weight }} kg</p>
      

      <div *ngFor="let type of pokemon.types; index as i">

        <p> {{ type.type }}</p>

        </div>
      








    </div>
  
  </div>
  